@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.input-ghost {
  @apply outline-none bg-transparent
}

.btn {
  @apply normal-case border-2 
}

.course-video:hover > .next-video {
  opacity:1;
  right:0;
}

.btn-hover-primary {
  @apply hover:bg-primary hover:text-neutral-focus
}
.btn-rounded {
  @apply rounded-full
}